#pattern  filter=crypt diff=crypt merge=crypt
assets/Captura_de_pantalla_2023-06-05_a_la\(s\)_18.30.33_1686011445993_0.png filter=crypt diff=crypt merge=crypt
journals/2023_06_05.md filter=crypt diff=crypt merge=crypt
journals/2023_06_06.md filter=crypt diff=crypt merge=crypt
